<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div class="help">
<p>
  Promptku is a special project to make and share open-ended thoughts and ideas as well as pose short and interesting questions pseudonymously.
</p>
<br>
<p>
	Chris is a co-founder and business development specialist at Promptku.<br>
	Maurice is a co-founder and expert generalist at Promptku.
</p>
</div>