<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="help">
<h2>
  Learn to promptku! It's easy.
</h2>
<p>
	To make your own promptku visit the homepage and create a prompt (the part that will be uneditable) and a ku (the part that will be editable).
</p>
<p>
	You can also visit the trending page in order to find new promptkus to tailor with your own ku.
</p>
<p>
	The <i class="fa fa-heart-o"></i> icon next to a promptku will allow you to curate your favorite promptkus.<br>
	The <i class="fa fa-picture-o"></i> will allow you to share a promptku as an image on your favorite social network.<br>
	The <i class="fa fa-retweet"></i> icon will allow you to repost a promptku to your own timeline.<br>
	The <i class="fa fa-comment"></i> icon will allow you to post and read comments for each promptku.
</p>
</div>