<% provide(:title, 'Help') %>
	<h1 id="howto">How-to</h1>
	<div class="help">
	<h2>
	  p r o m p t k u
	</h2>
	<p>
		<b>A good promptku is an open-ended statement or question that inspires others to consider what their own answer might be.</b> E.g., "If I ruled the world for a year..."
	</p>
	<p>
		To make a promptku visit the <%= link_to "homepage", root_path %> and create a prompt (the part that will be uneditable) and a ku (the part that will be editable).
	</p>
	<p>
		» You can also visit the <%= link_to "trending", microposts_path %> page in order to find popular promptkus<br>
		<% if signed_in? %>
			» Change your profile picture by going to your <%= link_to "account settings", edit_user_path(current_user) %> page<br>
		<% else %>
			» Change your profile picture by going to your account settings page<br>
		<% end %>
		» Find people to follow by visiting the <%= link_to "users", users_path %> page
	</p>
	<br>
	<p class="iconhelp">
		The <i class="fa fa-heart-o"></i> icon next to a promptku will allow you to curate your favorite promptkus.<br>
		The <i class="fa fa-twitter"></i> icon will allow you to tweet a promptku.<br>
		The <i class="fa fa-comment"></i> icon will allow you to post and read comments for each promptku.<br>
		The <i class="fa fa-link"></i> icon links to a page that lists promptkus that start with the same prompt.
	</p>
	</div>