<div class="center hero-unit">
  	<h1>Welcome to Promptku</h1>
  	<h2>
    	This is the home page for the <%= link_to "Promptku",   root_path %> application.
  	</h2>

  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("smiley.png", alt: "Smiley"), '#' %>