<%= form_for([@micropost, @comment], :remote => true, :authenticity_token => true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :comment_content, :placeholder => "Write a Comment..." %>
  </div>
  <button class="btn" type="submit">
    Create
  </button>
<% end %>