
<% if @microposts.any? %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @microposts %>
  </ol>
 <% else %>
 	<span class="span8">There's nothing here yet.</span>
 	<div class="welcomeface"><%= image_tag("promptkuface.svg", alt: "Promptku Smiley") %></div>
<% end %>