
<% if @microposts.any? %>
  <ol class="microposts">
    <%= render partial: 'shared/feed_item', collection: @microposts %>
  </ol>
 <% else %>
 	<span class="span8">There's nothing here yet.</span>
 	<div class="welcomeface"><%= image_tag("promptkuface.svg", alt: "Promptku Smiley") %></div>
<% end %>

<script type="text/javascript"> 
    if ($( window ).width() > 855) {
        $('<link rel="stylesheet" type="text/css" href="http://cf.shareasimage.com/static/app/css/publisher.css" >')
       .appendTo("head");
        $('i.fa-picture-o').css( "display", "inline" );
        $('span#picmobile').css( "display", "inline" );

        window.Sai = window.Sai || {};
        Sai.publisher = {
            publicKey: '4f592e01'
        };
        (function() {
            var se = document.createElement('script');
            se.type = 'text/javascript';
            se.async = true;
            se.src = 'http://cf.shareasimage.com/static/app/js/compiled/publisher.min.js';
            var lse = document.getElementsByTagName('script')[0];
            lse.parentNode.insertBefore(se, lse);
        })();
    }
</script>