<% provide(:title, 'Loved Promptkus') %>
<h1 class="likes"><%= @user.name %>'s most-loved promptkus</h1>
<div class="col-md-6 col-md-offset-3">

<%= render 'shared/public_feed' %>

<% unless (params[:page].present? || @microposts.count <20) %>
	<button class = "more btn btn-large btn-info">Show More</button>
<% end %>
	<%= paginate @microposts %>
</div>