

@import "bootstrap";
body {
  padding-top: 60px;
}
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

section {
  overflow: auto;
}

textarea {
  resize: none;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family:'TeX Gyre Heros';
  font-style: normal;
  font-weight: 400;
  color: rgb(90, 90, 90);
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: lightgray;
    text-decoration: none;
  }
}
.kulogo {
  color: #FFA500;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.more {
  display: none;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: lightgray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-bottom: 10px;
  display: block;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.alert-error {
  @extend .bg-danger;
}

.alert-notice { 
  @extend .bg-info;
}

.alert-alert {
  @extend .bg-warning;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    border-top: 1px solid #e8e8e8;
    clear: both;
    margin-bottom: 0.3em;
    &.nl-ti-input {
      margin-bottom: 0;
    }
  }
}
.content {
  display: block;
}
.timestamp {
  color: #efefef;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


/* tag cloud */
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}


/* my design */


  
a.prompt {
  color: #ffe8e7;
  &:hover {
    text-decoration: none;
    color: #c6c6c6;
  }
}

a.nl-field-toggle {
  &:hover {
    text-decoration: none;
  }
}
i.fa {
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  &:hover {
    color: lightblue;
  }
}



ul.users a {
  color: #eaeaea;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}

p.tags a {
  color: rgba(53, 102, 53, .9);
  text-decoration: none;
  &:hover {
    color: blue;
  }
}
p.tags {
  padding-top: 2em;
  margin: 0;
  float: left;
  clear: both;
}

#tag_cloud {
  text-align: center;
  margin: 0 auto;
  a {
    padding-right: 0.5em;
    color: #465535;
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }
}

a.delete i {
  color: #b94a48;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}

span.user {
  font-size: .6em;
  color: #e6e6e6;
  float: right;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: lightblue;
    }
  }
}

span.usercomment {
  a {
    color: lightblue;
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }
}

.formtags {
  display: none;
  font-size: .5em;
  input {
    width: 50%;
  }
}


/* promptku functions */
div.functions {
  display: inline-block;
  clear: right;
  float: right;
  padding-top: 0.2em;
  i {
    padding-top: 0.2em;
    padding-right: 0.1em;
  }
}

.timeago {
  clear: both;
}

span.followbtn {
  padding-top: 0.5em;
}

h1 span.userinfo {
  padding-top: 0.3em;
}

span.postbutton .btn {
  background: rgba(212, 205, 178, 0.4);
  width: 100%;
  &:hover {
    background: rgba(212, 205, 178, 0.5);
  }
}

button.more {
  width: 100%;
  height: 4em;
  margin-top: 2em;
  background: rgba(212, 205, 178, 0.2);
  width: 100%;
  &:hover {
    background: rgba(212, 205, 178, 0.3);
  }
  &:focus {
    background: rgba(212, 205, 178, 0.3);
  }
}

.trendoptions button {
  margin-right: 0.3em;
  display: inline-block;
  background: rgba(212, 205, 240, 0.4);
  &:hover {
    background: rgba(212, 205, 240, 0.5);
  }
  &:focus {
    background: rgba(212, 205, 240, 0.5);
  }
  &.selected {
    background: rgba(90, 90, 90, 0.2);
  }
}
.trendoptions {
  width: 300px;
  margin: 0 auto;
}

div#infscr-loading {
  padding-top: 1.5em;
}

div.span8 h3 {
  text-align: center;
}

div.search {
  display: none;
  width: 50%;
  margin: 0 auto;
  input.btn {
    display: none;
  }
}

span.userlist {
  font-size: 1.5em;
}
.users div:last-child {
  float: right;
}

span.noposts {
  border-top: 1px solid #e8e8e8;
  a {
    color: lightblue;
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }
}

span.viewprofile a{
  color: lightblue;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}

h1.welcome {
  color: #b94a48;
}

span.prompt {
  color: rgb(50, 50, 50);
}

h2.example {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 2em;
  span {
    color: #FFA500;
    border-bottom: 1px dashed #b14943;
  }
}

div.welcomeface img {
  width: 100%;
  margin: 0 auto;
}

p.forgot a{
  color: lightblue;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}

p.newuser a {
  color: lightblue;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}

li.errors {
  color: white;
}

div.help {
  width: 60%;
  margin: 0 auto;
  font-size: 1.1em;
  h2 {
    color: #e6e6e6;
  }
}

div#promptsample {
  position: absolute;
  font-size: 1.5em;
}

.help p a {
  color: lightblue;
  text-decoration: none;
  &:hover {
    color: blue;
  }
}
.trendingprompts {
  width: 100%;
  margin: 10px auto 5px auto;
  padding-top: 15px;
  text-align: center;
  font-size: 1.5em;
  a, i {
    color: lightblue;
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }
}

.nav i {
  color: lightblue;
}

p.iconhelp {
  border-top: dashed 1px #b94a48;
}

.picks {
  border: dashed 1px #b94a48;
  padding-left: 5px;
  font-size: 1.5em;
  h3 {
    text-align: center;
    color: rgba(0,0,0,0.3);
    padding-bottom: 5px;
  }
  a {
    color: #f8fdff;
    text-decoration: none;
    &:hover {
      color: lightblue;
    }
  }
}

.new_micropost {
  display: none;
}

.newpromptbtn {
  background: rgba(212, 205, 178, 0.4);
  width: 100%;
  &:hover {
    background: rgba(212, 205, 178, 0.5);
  }
  i {
    color: lightblue;
  }
}

#user_image {
  border: none;
}

i.fa-picture-o {
  display: none;
}
span#picmobile {
  display: none;
}

.legal {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: rgb(45, 45, 45);
  text-align: left;
  p {
    font-size: 12pt;
  }
}
