<footer class="footer">
  <small>
    <%= link_to "Promptku",   root_path %>
    by Maurice Cadenhead and Chris Lozynski
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </nav>
</footer>